*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color:rgb(1, 82, 1);
    
}
img{
    width: 90px;
    height: 90px;
    float: left;
    padding: 8px;
    object-fit: cover;
    
}
header{
    background-color: white;
    width: 100%;
    content: '';
    display: table;
    justify-content: center;

}
.menu{
    width: 1200px;
    margin: 0 auto;
}
.menu h1{
    translate: 10px 35px;
    font-size: 30px;
    word-wrap: break-word;
    width: 25%;
}
nav ul li{
    list-style: none;
    margin-left: 50px;
    padding: 10px;
}
nav ul li a{
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    box-sizing: 30px;
}
nav ul{
    display: flex;
    justify-content: center;
    width: 50%;
    translate: 300px;
}
input:checked  ~ ul{
    display:block;
}
  
  input {
    display: none;
}
  
  label {
    box-sizing: border-box;
    display: inline-block;
    border: 1px solid black;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-weight: bold;
    text-align: center;
    user-select: none;
    opacity: 0;
    translate: 1050px;
}

  label:hover{
    background: grey;
}
  
  input:checked ~ label {
    background: lightgrey; 
}  

@media (min-width: 600px){
    body{
        flex-wrap: nowrap;
}    
    label {
        box-sizing: border-box;
        display: inline-block;
        border: 1px solid black;
        border-radius: 5px;
        width: 30px;
        height: 30px;
        line-height: 30px;
        font-weight: bold;
        text-align: center;
        user-select: none;
        opacity: 1;
        translate: 1050px;
}

}