*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* display: flex;
    align-items: center;
    justify-content: center; */
    height: 800px;
    background-image: linear-gradient(0, #262d2c 0, #222524 25%, #212121 50%, #1b1719 75%, #160d10 100%);
    /* font-family: 'Quicksand', sans-serif; */
    line-height: 1.6;
}

header{
    background: rgb(255,0,0);
    background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(136,1,1,1) 33%, rgba(101,1,1,1) 68%, rgba(0,0,0,1) 100%);
    width: 100%;
    clear: both;
    content: '';
    display: table;

}

.menu{
    width: 900px;
    margin: 0;
}

h1 {
    float: left;
    padding: 15px;
    margin-top: 4px;
    /* color: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(136,1,1,1) 33%, rgba(101,1,1,1) 68%, rgba(0,0,0,1) 100%); */
    color: black;
}

h1 a{
    color: black;
    text-decoration: none;
}

nav{
    float: right;
}

nav ul li{
    list-style: none;
    margin-left: 70px;
    padding: 30px 0px;
    float: left;
}

nav ul li a{
    text-decoration: none;
    color: #acabab;
    font-weight: bold;
}

.titulo{
    display: flex;
    justify-content: center;
    padding-top: 40px;
    color: white;    
    font-size: 2em;
}

.titulo span{
    color: red;
}

.carrusel {
    display: flex;
    width: 600px;
    height: 430px;
    transform: translate(200px, 40px);
}

.carrusel img{
    width: 70px;
    height: 430px;
    flex-grow: 1;
    object-fit: cover;
    opacity: 0.7;
    transition: 0.5s ease;
    cursor: pointer;
}

.carrusel img:hover{
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}

/* .imagen1::before{
    content: 'Barbie Movie';
    position: absolute;
    color: greenyellow;
} */

footer{
    width: 100%;
    margin-top: 140px;
    padding: 1rem 0;
    text-align: center;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(187,187,187,1) 55%, rgba(97,97,97,1) 100%, rgba(0,0,0,1) 100%);
}

footer p{
    margin-bottom: 5px;
    margin-top: 5px;
}

footer a{
    padding: 15px;
}

.box{
    display: flex;
    align-items: center;
}

.portada{
    width: 180px;
    height: 300px;
    object-fit: cover;
    margin-top: 90px;
    transform: translateX(-300px);
}
h3{
    color: white;
    margin-left: 2px;
    transform: translateX(-250px);
}

.titulox{
    padding-top: 15px;
    color: white;
    text-align: center;
}
h5{
    transform: translate(-550px, 150px);
    color: #acabab;
    width: 50%;
}

.contenido{
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;
}

.contacto > *{
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.3);
    padding: 1em;
}

.contacto-formulario{
    background: #191919;
}

.contacto-info{
    background: #000;
}

.contacto-formulario form{
    margin: 0;
    padding: 1em;
}

.contacto-formulario form button,
.contacto-formulario form input,
.contacto-formulario form textarea {
    width: 100%;
    padding: 0.7em;
    border: none;
}

/* Modificación para 22/04/2023 (Agrego buscador de peliculas) */

.buscador {
	position: absolute;
    right: 5%;
	top: 22%;
	transform: translate(-7%,-7%);
	padding: 10px;
}

input {
	outline: none;
	box-sizing: border-box;
	height: 60px;
	width: 0px;
	padding: 0 20px;
	color: #000;
	border-radius: 50px;
	font-size: 20px;
	border: 1px solid #D50000;
	transition: all .7s ease;
}

::placeholder {
	color: grey;
}

.btn {
	position: absolute;
	right: 0px;
	top: 0px;
	width: 80px;
	height: 80px;
	background: rgba(136,1,1,1);
	line-height: 80px;
	border-radius: 50%;
	text-align: center;
	cursor: pointer;
	transition: .5s;
}

.btn .icon-search {
	font-size: 20px;
	color: white;
	line-height: 80px;
	transition: all .7s ease;
}

.buscador:hover input {
	width: 350px;
}

.buscador:hover .icon-search{
	transform: rotate(-360deg);
}

.btn:hover{
	background: #cc0000;
}
